<nav>
    <a href="/">Home</a>
    <a href="{% url 'users:user_profile' %}">Profile</a>
    <a href="{% url 'users:register' %}">Register</a>
    <a href="{% url 'users:login' %}">Login</a>
    <a href="{% url 'users:logout' %}">Logout</a>

    {% comment %}
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'admin:index' %}">Admin</a>
    <a href="{% url 'store' %}">Store</a>
    <a href="{% url 'cart' %}">Cart</a>
    <a href="{% url 'checkout' %}">Checkout</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% endcomment %}
</nav>